@import "./common/styles/_mixin.scss";


.add_todo {
  display: flex;

  & > textarea {
    width: 320px;
    height: 270px;
    border: 1px solid white;
    border-radius: 20px;
    margin: 15px auto;
    resize: none;
    &:focus{
      outline: none;
    }
  }
  .input_yellow {
    background: $yellow;
  }
  .input_orange {
    background: $orange;
  }
  .input_purple {
    background: $purple;
  }
  .input_skyblue {
    background: $skyblue;
  }
  .input_green {
    background: $green;
  }
}

.add_todo input[type="checkbox"]{
  display: none;
}