
.layout {
  display: grid;
  grid-template-columns: repeat(2, 130px auto);
}

.main_layout {
  //border: 1px solid blue;
}

//header.tsx
$colors: #f5c16e #f59570 #af8ef5 #01ccf5 #dbe58a;

.add_button{
  margin: 10px 0 0 48px;
}

.add_color {
  & > button {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 10px 0 0 50px;
    border: none;

    @each $color in $colors {
      $i: index($colors, $color);
      &:nth-child(#{$i}) {
        background: $color;
      }
    }

  }
  & > div {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 10px 0 0 50px;

    @each $color in $colors {
      $i: index($colors, $color);
      &:nth-child(#{$i}) {
        background: $color;
      }
    }

  }
}
